 <!DOCTYPE html>
<html lang="fr">

{%include "fr/extensions/head.html"%}
<!-- Body de Title -->
<title>DUDH: Article 3 - PolyEdu</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/video.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dudh.css')}}">
    
<body>
    <!-- navbar -->
    {%include "fr/extensions/navbar.html"%}

    {% include "fr/courses/dudh/list.html" %}
        
    <div class="container">
        <div class="main-video-container">
        
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/TBCwcWStU84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
            <h2 class="main-vid-title">Article 3: Droit à la vie, à la liberté et à la sûreté de sa personne</h2>
            
            <div class="g-ytsubscribe" data-channelid="UCMv63IiAIhZH7DuA-cXNOwg" data-layout="full" data-count="hidden">
                
            </div>
        </div>

        <!-- Joseph's work -->

        <section class="content intro">
            <div class="container-medium">
                <h3 class="title">Les lois canadiennes et la DUDH.</h3>
                <div class="container-text">
                    <p class="text">
                        La déclaration universelle des droits de l’homme est un document officiel servant de repère lors de la créations de lois. Ici au Canada, nous retrouvons plusieurs lois de la chartes des droits et libertés étant inspirées de divers artciles de la DUDH. Voici l'exemple de l'article 3.
                    </p>

                    <ul class="container-list">
                        <li class="li-text" style="text-align:center;">
                            DUDH, Article 3:
                            <p style="margin-top:1em;">
                                « Tout individu a droit à la vie, à la liberté et à la sûreté de sa personne. »
                            </p>
                        </li>
                        <li class="li-text" style="text-align:center;">
                            Charte canadienne des droits et libertés, Article 7:
                            <p style="margin-top:1em;">
                                « Chacun a droit à la vie, à la liberté et à la sécurité de sa personne; il ne peut être porté atteinte à ce droit qu’en conformité avec les principes de justice fondamentale. » 
                            </p>
                        </li>
                    </ul>

                    <p class="text">
                        Pour voir plus de lois de la <a href="https://laws-lois.justice.gc.ca/fra/const/page-12.html">Charte canadienne des droits et libertés.</a>
                    </p>
                    
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-medium">
                <h3 class="title">C'est quoi l'article 3 de la DUDH?</h3>
                <div class="container-text">
                    <p class="text">
                        L’article 3 de la <a href="#">Déclaration Universelle des Droits de l’Homme (DUDH)</a> est l’article qui attribue à chaque individu un droit fondamental les protégeant de certains dangers et/ou injustices.
                    </p>
                    <p class="text">
                        L’objectif de l’article 3 de la déclaration universelle des droits de l’homme est de prémunir les individus contre des atteintes à sa vie, à sa liberté et sa sûreté. 
                    </p>

                    <ul class="container-list">
                        <li class="li-text">
                            <p>
                                La vie d’un individu étant d’une valeur inestimable, l’article 3 se donne pour objectif de protéger et de permettre à chacun de profiter de ses cadeaux.
                            </p>
                        </li>
                        <li class="li-text">
                            <p>
                                La liberté d’un individu est autant importante que son droit de vivre. En fait, pour pouvoir profiter d’une vie qui lui appartient, il doit être libre de ses choix et gestes, sans quoi ce serait une diminution de sa qualité de vie pouvant aller à une atteinte à sa vie. (Cas de l’esclavage)
                            </p>
                        </li>
                        <li class="li-text">                            <p>
                                La sûreté de l’individu est un aspect complémentaire au deux autres, car en s’assurant que la vie et la liberté d’un individu ne sont pas mises en danger par quoi que ce soit, on assure aussi à cet individu une sûreté de sa personne.
                            </p>
                        </li>
                    </ul>

                    <p class="text">
                        Ces trois termes, vie, liberté et sûreté, étant reliés, ils peuvent être résumé en un mot: sécurité. En bref, l’article 3 de la DUDH a pour objectif d'assurer une sécurité globale à tous sans exception.
                    </p>
                    
                </div>
            </div>
        </section>

        <section class="content gurre">
            <div class="container-medium">
                <iframe style="border-radius: .5em;" width="100%" height="450vh" src="https://www.youtube.com/embed/5bueueLl5qY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="sub-container">
                    <h3 class="title">Un cas réel.</h3>
                <div class="container-text">
                    <p class="text">
                        Dans la guerre entre la Russie et l’Ukraine (20 février 2014 à maintenant), beaucoup de russes et d’ukrainiens se sont vu dépourvus de leur droit à la vie et à la liberté et à la sûreté de sa personne. Les russes, protestant contre la dictature de Vladimir Poutine, et les ukrainiens, protégeant leur pays des forces russes, ont été détenus ou tués. De plus, plusieurs citoyens de l'Ukraine n’ont pas la certitude d’être en sécurité à cause de la guerre. <a href="https://www.journaldequebec.com/monde/guerre-en-ukraine">En savoir plus sur la guerre en Ukraine.</a>
                    </p>
                    
                </div>
                </div>
            </div>
        </section>
    </div>
    
    
    <!-- footer -->
    {%include "fr/extensions/footer.html"%}

    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="{{ url_for('static', filename='js/video.js')}}"> </script>
</body>
</html>