 <!DOCTYPE html>
<html lang="fr">
  
{%include "fr/extensions/head.html"%}
<!-- Body de Title -->
<title>DUDH: Article 3 - PolyEdu</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/video.css')}}">

<style>
    .sub-body {
        display: flex;
        flex-direction: row-reverse;
        align-items: top;
    }

    .dudh-list {
        width: 20em;
        background-color: transparent;
        margin: 0 1em 100px;
        padding-top: 0;
    }

    .article3-info {
        margin: 0 2em 100px;
    }
    
    .container-medium {
        box-shadow: 0 0 .2em .01em black;
        border-radius: .5em;
        margin: 1em 2em;
        padding: 1.5em 1em;
    }

    .main-vid-title::before {
        display: inline-block;
        content: '';
        background-color: gold;
        height: 1.5em;
        width: .2em;
        margin: 0 .75em 0 0;
        position: relative;
        top: .2em;
    }
    
    .main-vid-title {
        margin: 1em 0;
    }

    .top-image {
        margin: 0 20%;
        width: 60%;
        height: 15em;
        object-fit: cover;
        box-shadow: 0 0 2em .001em white;
    }

    .title {
        margin-bottom: 1em;
    }

    .container-list {
        margin: auto;
        margin-bottom: .5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }

    .li-text {
        margin: .5em;    
    }
    
</style>
    
<body>
    <!-- navbar -->
    {%include "fr/extensions/navbar.html"%}
    <div class="sub-body">
        <div class="container dudh-list">
        {% include "fr/courses/dudh/list.html" %}
        </div>
    
    <div class="container article3-info">
        <div class="main-video-container">
        
            <iframe width="573" height="400" src="https://www.youtube.com/embed/mzky0ylhgCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
            <h2 class="main-vid-title">Article 3: Droit à la vie, à la liberté et à la sûreté de sa personne</h2>
            
            <div class="g-ytsubscribe" data-channelid="UCMv63IiAIhZH7DuA-cXNOwg" data-layout="full" data-count="hidden">
                
            </div>
        </div>

        <!-- Joseph's work -->

        <section class="content">
            <div class="container-medium">
                <h3 class="title">C'est quoi l'article 3 de la DUDH?</h3>
                <div class="container-text">
                    <p class="text">
                        L’article 3 de la Déclaration Universelle des Droit de l’Homme (DUDH), c’est l’article qui attribue à chaque individu un droit fondamental les protégeant de certains dangers ou injustices.
                    </p>
                    <p class="text">
                        L’objectif de l’article 3 de la déclaration universelle des droits de l’homme est de prémunir les individus contre des atteintes à sa vie, à sa liberté et sa sûreté. 
                    </p>

                    <ul class="container-list">
                        <li class="li-text">
                            La vie d’un individu étant d’une valeur inestimable, l’article 3 se donne pour objectif de protéger et de permettre à chacun de profiter de ses cadeaux.
                        </li>
                        <li class="li-text">
                            La liberté d’un individu est autant importante que son droit de vivre. En fait, pour pouvoir profiter d’une vie qui lui appartient, il doit être libre de ses choix et gestes, sans quoi ce serait une diminution de sa qualité de vie pouvant aller à une atteinte à sa vie. (Cas de l’esclavage)
                        </li>
                        <li class="li-text">
                            La sûreté de l’individu est un aspect complémentaire au deux autres, car en s’assurant que la vie et la liberté d’un individu ne sont pas mises en danger par quoi que ce soit, on assure aussi à cet individu une sûreté de sa personne.
                        </li>
                    </ul>

                    <p class="text">
                        Ces trois termes, vie, liberté et sûreté, étant reliés, ils peuvent être résumé en un mot: sécurité. En bref, l’article 3 de la DUDH a pour objectif d'assurer une sécurité globale à tous sans exception.
                    </p>
                    
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-medium">
                <img class="top-image" src="https://th.bing.com/th/id/OIP.WGFXNm4G5BqJg4mKmpd6xAHaE7?w=282&h=187&c=7&r=0&o=5&pid=1.7">
                <h3 class="title">Un cas réel.</h3>
                <div class="container-text">
                    <p class="text">
                        Dans la guerre entre la Russie et l’Ukraine (20 février 2014 à maintenant), beaucoup de russes et d’ukrainiens se sont vu dépourvus de leur droit à la vie et à la liberté et à la sûreté de sa personne. Les russes, protestant contre la dictature de Vladimir Poutine, et les ukrainiens, protégeant leur pays des forces russes, ont été détenus ou tués. De plus, plusieurs citoyens de l'Ukraine n’ont pas la certitude d’être en sécurité à cause de la guerre.

En savoir plus: https://www.journaldequebec.com/monde/guerre-en-ukraine 
                    </p>
                    
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-medium">
                <h3 class="title">La peine de mort.</h3>
                <div class="container-text">
                    <p class="text">
                        La peine de mort est un type de justice punitive qui consiste à retirer la vie d’un meurtrier (coupable d’un meutre volontaire) comme une sentence afin d’équilibrer le mal commis.
                    </p>
                    <p class="text">
                        Pour condamner une personne à mort, il faut pouvoir prouver qu’elle est coupable du crime et que c'était volontaire. Cette peine est considérée par certains comme immorale, puisque tuer quelqu’un signifie lui retirer son droit à la vie, un droit fondamental. Tuer un criminel qui a commis une offensive majeure ne réparera pas son crime. Le criminel n’aura également jamais l’opportunité de lui-même réparer ou adoucir la sévérité de son crime. Il y a également le fait que la personne dénommée coupable ne soit pas vraiment coupable, et qu’il est impossible de retourner en arrière après avoir tué cette personne innocente.
                    </p>
                    <p class="text">
                        Pour certain la peine de mort est… 
                    </p>

                    <h5>Mal:</h5>
                    <ul class="container-list">
                        <li class="li-text">
                            Ça nuit au droit à la vie, un droit fondamental.
                        </li>
                        <li class="li-text">
                            Le criminel n’aura également jamais l’opportunité de lui-même réparer ou adoucir la sévérité de son crime.
                        </li>
                        <li class="li-text">
                            Impossibilité de retour en arrière pour les personnes non-coupables.
                        </li>
                    </ul>

                    <h5>Bonne:</h5>
                    <ul class="container-list">
                        <li class="li-text">
                            Les personnes condamnées à mort ne représente plus de menace pour la société
                        </li>
                        <li class="li-text">
                            La victime a perdu sa vie, alors pourquoi le coupable aurait-il la chance de pouvoir garder la sienne. On ne décide pas qui vit, qui meurt, mais les meurtriers le font. La peine de mort est là pour balancer le mal par le bien.
                        </li>
                        <li class="li-text">
                            C’est un outil dissuasif pour la population et cela permet en quelque sorte d' établir le bien.
                        </li>
                    </ul>
                    
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-medium">
                <div class="container-video">
                    <iframe width="1050" height="630" src="https://www.youtube.com/embed/HkAjY45jfp8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </section>
    </div>
        
    </div>
    
    
    <!-- footer -->
    {%include "fr/extensions/footer.html"%}

    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="{{ url_for('static', filename='js/video.js')}}"> </script>
</body>
</html>