{% extends 'polyshop/base.html' %}
{% load static %}
{% block content %}
<br/>
<div class="rounded container p-5 m-5">
<h1>Nos emplacements</h1>
<p>Nous avons des machines distributrices d'articles scolaires dans certains emplacements. Voici une liste de nos emplacements actuels:
    <li>Polyvalente de Charlesbourg (1).</li>
</p>
<iframe width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Charlesbourg%20Polyvalente,%20Rue%20de%20la%20Sorbonne,%20Qu%C3%A9bec%20City,%20QC%20Qu%C3%A9bec+(Polyvalente%20de%20Charlesbourg)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
</div>
{% endblock %}