<!DOCTYPE html>
<html lang="fr">
  {%include "fr/extensions/head.html"%}
    <body>
      <title>Perspective Axonométrique - PolyEdu</title>
          <!-- navbar -->
      {%include "fr/extensions/navbar.html"%}

          <!-- Body de Title -->
      <main class="container pt-2 rounded px-4">
        <h1 class="mt-2">Perspective Axonométrique</h1>
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('fr.articles.articles')}}">Articles</a></li>
    <li class="breadcrumb-item active" aria-current="page">Perpective Axonométrique</li>
    
  </ol>
</nav>
  
  <small>Écrit par: Renji Jenkins<br/>
   25/03/23 </small><br/>

        <h3 class="py-2">Chapitres de l'article: </h3>
          <ol>
            <li><a href="axonometrique" class="clr-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-down" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.854 14.854a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V3.5A2.5 2.5 0 0 1 6.5 1h8a.5.5 0 0 1 0 1h-8A1.5 1.5 0 0 0 5 3.5v9.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4z"/>
</svg> Projection Parallèle: Perpective Axonométrique</a></li>
          </ol>
        <div id="axonometrique">
        <hr class="dashed"/>
  <strong>Dans la perspective axonométrique, seules les arêtes verticales de l'objet se trouvent dans le même plan que la feuille sur laquelle le tracé est effectué.</strong>
<p>Pour dessiner facilement des solides en perspective axonométriqe, il est fortement recommandé d'utiliser du papier pointé. Toutes les mesures obtenues sur la représentation sont proportionnelles aux mesures dans la réalité.</p>

          <div class="alert alert-danger" role="alert"><p style="text-decoration: underline;"><strong>Important!</strong> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-exclamation-fill" viewBox="0 0 16 16">
  <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg></p> Pour dessiner un solide en perspective axonométrique, on doit suivre les étapes suivantes:

          <ol>
            <li>Tracer une première hauteur verticalement. </li>
            <li>Tracer les fuyantes des deux côtés du premier segment tracé. </li>
            <li>Dessiner les arêtes manquantes. </li>
          </ol></p>
</div>
          <p>Voici un exemple avancé sur la perspective axonométrique:</p>
          <img src="{{url_for('static', filename='img/axonometrique.png')}}" class="d-inline-block align-top img-fluid" alt="">
          </div>
        
        <hr class="dashed"/>
        <h2 class="py-2">Voir plus d'articles: </h2>
      <div class="row mb-2">
<div class="col-md-6 target">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative card-article">
        <div class="col p-4 d-flex flex-column position-static height240">
          <strong class="d-inline-block mb-2 text-math">Mathématiques</strong>
          <h3 class="mb-0">La droite</h3>
          <div class="mb-1 text-muted">06/04/23</div>
          <p class="mb-auto description">Cet article contient des explications les droites, pentes, demi-droites, segments de droites et leur distance.</p>
          <a href="{{url_for('fr.articles.droite')}}" class="stretched-link"></a>
        </div>
        
      </div>
    </div>
    <div class="col-md-6 target">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative card-article">
        <div class="col p-4 d-flex flex-column position-static height240">
          <strong class="d-inline-block mb-2 text-math">Mathématiques</strong>
          <h3 class="mb-0">La Relation de Pythagore</h3>
          <div class="mb-1 text-muted">25/03/23</div>
          <p class="mb-auto description">Cet article contient des explications le théorème de Pythagore, également nommée relation de Pythagore.</p>
          <a href="{{url_for('fr.articles.pythagore')}}" class="stretched-link"></a>
        </div>
        
      </div>
    </div>
</main>
      <!-- footer -->
      {%include "fr/extensions/footer.html"%}
      <script src="{{url_for('static',filename='js/smoothscroll.js')}}"></script>
    </body>
</html>